<form #eModule="ngForm" (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <!--Full Name-->
      <div class="form-group" [class.has-error] = "name.invalid && name.touched" [class.has-success] = "name.valid">
        <label class="control-label" for="name">Full Name</label>
        <input class="form-control" name="fn" [(ngModel)]="employee.name" id="name" type="text" required #name = "ngModel" />
        <span class="help-block" *ngIf = "name.invalid && name.touched">Full name is required</span>
      </div>
      <!--Email-->
      <div class="form-group" [class.has-error] = "email.invalid">
        <label class="control-label" for="email">Email</label>
        <input class="form-control" name="em" [(ngModel)]="employee.email" id="email" type="email" [required] = "contactPref.value == 'email'" #email = "ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
        <span class="help-block" *ngIf = "email.errors?.required">Email is required</span>
        <span class="help-block" *ngIf = "email.errors?.pattern">Email is invalid</span>
      </div>
      <!--Phone Number-->
      <div class="form-group" [class.has-error] = "phoneNum.invalid">
        <label class="control-label" for="phNum">Phone Number</label>
        <input class="form-control" name="phone" [(ngModel)]="employee.phoneN" id="phNum" type="tel" [required] = "contactPref.value == 'phone'" #phoneNum = "ngModel" />
        <span class="help-block" *ngIf = "phoneNum.invalid">Phone Number is required</span>
      </div>
      <!--Gender-->
      <div class="form-group" [class.has-error] = "gender.touched && gender.invalid" [class.has-success] = "gender.valid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="male" name="gender" [(ngModel)]="employee.gender" required #gender = "ngModel" />
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" value="female" name="gender" [(ngModel)]="employee.gender" required #gender = "ngModel" />
            Female
          </label>
        </div>
        <span class="help-block" *ngIf = "gender.invalid && gender.touched">Gender is required</span>
      </div>
      <!--Contact Preference-->
      <div class="form-group" [class.has-error] = "contactPref.touched && contactPref.invalid" [class.has-success] = "contactPref.valid">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="email" name="contactPreference" [(ngModel)]="employee.contactPref" required #contactPref = "ngModel" />
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" name="contactPreference" [(ngModel)]="employee.contactPref" required #contactPref = "ngModel" />
            Phone
          </label>
        </div>
        <span class="help_block" *ngIf = "contactPref.touched && contactPref.invalid">Contact Preference is required</span>
      </div>
      <!--Is Active-->
      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="employee.IsActive" />
            Is Active
          </label>
        </div>
      </div>
      <!--department dropbox-->
      <div class="form-group">
        <label for="department">
          Department
        </label>
        <select class="form-control" id="department" name="department" [(ngModel)]="employee.department">
          <option *ngFor="let d of departments" [value]="d.id">
            {{ d.name }}
          </option>
        </select>
      </div>
      <!--date-->
      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateofbirth">
            Date Of Birth
          </label>
          <input type="text" bsDatepicker [bsConfig]="dateConfig" placement="right" class="form-control" id="dateofbirth"
            name="dateofbirth" [(ngModel)]="employee.dateOfBirth" />
        </div>
      </div>
      <!--Photo Path-->
      <div class="form-group">
        <label for="photo">Photo Path</label>
        <input class="form-control" name="photo" [(ngModel)]="employee.photoPath" id="photo" type="text" />
      </div>
      <!--show button-->
      <div class="form-group">
        <!--add type="button" to avoid make it work as submit button with this form-->
        <button type="button" class="btn btn-primary" (click)="imageShowToggle()">
          {{imageShow? "Hide " : "Show "}} Preview
        </button>
      </div>
      <!--image-->
      <div class="form-group">
        <img [src]="employee.photoPath" width="200" height="200" *ngIf="imageShow" />
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary" [disabled] = "eModule.invalid">Save</button>
    </div>
  </div>
</form>

ngModel{{ eModule.value | json }}

<br>
<br>

ourModel{{ employee | json }}