<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="container">
  <app-list-employees></app-list-employees>
</div>-->

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li routerLinkActive = "active">
      <a routerLink="list">List</a>
    </li>
    <li routerLinkActive = "active" (click) = "changeSub()">
      <a routerLink="create">Create</a>
    </li>
    <li routerLinkActive = "active">
      <a [routerLink]="['/employee', 2]">hard coded employee 2</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>